<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Currency Importer</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <form class="mt-4" method="post" action=".">{% csrf_token %}
        <button type="submit" class="btn btn-primary">Import</button>
    </form>
    <table class="table mt-4">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">First currency</th>
            <th scope="col">Second currency</th>
            <th scope="col">Ratio</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="row">1</th>
            <td>USD</td>
            <td>RUB</td>
            <td>80</td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>